* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("./assets/sunny.jpg");

  background-size: cover;
  background-position: bottom;
  transition: .4s ease-out;
}
main {
  flex: 1 1 auto;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .8));
}